body {   
    background: black;
    color: white;
    font-family: "parabolica", sans-serif;
}
a {
    color: inherit; 
}
h1 {
    font-family:"vandertak-capslock-top";
    font-variation-settings: "SEED" 0, "wdth"100;

}