body {   
    background: black;
    color: white;
    font-family:'Vandertak CAPSLOCK', sans-serif;
}
a {
    color: inherit; 
}
h1 {
    font-family: "Parabolica", sans-serif;
    font-variation-settings: "SEED" 0, "wdth"100;

}